// Misc buttons styling
.btn {
	display: inline-block;
	padding: .5rem 1rem;
	background-color: $main-color;
	color: #fff;
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: all .3s ease;

	&:hover, &:focus {
		outline: none;
		background-color: darken($main-color, 7%);
		box-shadow: 2px 4px 8px rgba($black, .5);
	}

	&.btn-mini {
		font-size: 0.8em;
	}

	&.btn-big {
		padding: .75rem 1.5rem;
	}

	&.btn-outline:hover {
		background-color: transparent;
		color: $main-color;
		border-color: $main-color;
		box-shadow: none;
	}
}

.btn-cm {
	display: inline-block;
	padding: .5rem 1rem;
	background-color: transparent;
	color: #00dafd;
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	// outline: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: all .3s ease;

	&:hover, &:focus {
		outline: none;
		background-color: darken($main-color, 7%);
		box-shadow: 2px 4px 8px rgba($black, .5);
	}
}